*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
}

.new-btn-container{
    display: flex;
    justify-content: center;
}

#myForm{
    display: grid;
    gap: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 250, 250, 0.438);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

.status{
    display: grid;
    grid-auto-flow: column;
}

input,
button[type="submit"]{
    border-radius: 5px;
}

.hidden{
    visibility: hidden;
}

#libraryContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: repeat(auto-fit, 300px);
    gap: 20px;
    padding: 20px;
}

.book{
    background-color: brown;
    height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    padding: 10px;
}